.dashboardContainer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

.firstContainer {
    background-color: red;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.secondContainer {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.thirsContainer {
    background-color: brown;
    width: 30%;
    height: 100%;
    box-sizing: border-box;

}

.allNotificationContainer{
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
}
.notificationList{
    width: 100%;
    height: 92%;
    flex-direction: column;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: flex;
    align-items: center;
}
.containerTitle{
    padding-top: 10px;
    font-size: 20px;
}

